body  {
	background-color: #493829;
}

p {
	text-indent: 50px;
	margin: auto;
}

A:link { text-decoration: none; color: #BDD09F; }
A:visited { text-decoration: none; color: #BDD09F;}
A:active { text-decoration: none; }
A:hover { text-decoration: none; color: #668D3C;}

#main {
	width:100%;
	text-align:center;
}

#pagetitle {
	color:#B99C6B;
}
#navmenu {
	height:90vh;
	width: 200px;
	background-color:#A9A18C;
	margin: 10px;
	padding-top: 20px;
        border-radius: 8px;
}

#title {
	text-align:center;
}

#author {
	text-align:center;
}

#storyblock {
	margin:auto;
	height: 80vh; 
	overflow-y: scroll;
	overflow-x: hidden;
	background-color:#B99C6B;
        color: #855723;
}

#dialogue {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#choices {
	text-align: center;
}

