body  {
background-color: #404F24;
}

p {
	text-indent: 50px;
	margin: auto;
}

A:link { text-decoration: none; color: #FFC300; }
A:visited { text-decoration: none; color: #FFC300;}
A:active { text-decoration: none; }
A:hover { text-decoration: none; color: #2ECC71;}

#main {
	width:100%;
	text-align:center;
}

#navmenu {
	height:90vh;
	width: 200px;
	background-color:#B99C6B;
	margin: 10px;
	padding-top: 20px;
        border-radius: 8px;
}

#title {
	text-align:center;
}

#author {
	text-align:center;
}

#storyblock {
	margin:auto;
	height: 80vh; 
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #A9A18C;
        color: #855723;
}

#dialogue {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#choices {
	text-align: center;
}

